# Simple workflow for deploying static content to GitHub Pages
name: GitHub Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: [ main ]
  # Runs on pull requests based on the default branch
  pull_request:
    branches: [ main ]

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 24 #latest
          cache: 'pnpm'
      - name: Install mkcert latest version and generate certificates
        run: |
          LATEST_VERSION=$(curl -s https://api.github.com/repos/FiloSottile/mkcert/releases/latest | jq -r '.tag_name')
          curl -L -o mkcert "https://github.com/FiloSottile/mkcert/releases/download/${LATEST_VERSION}/mkcert-${LATEST_VERSION}-linux-amd64" -o mkcert
          chmod +x mkcert
          ./mkcert -install
          mkdir -p certs
          ./mkcert -key-file certs/poc-next-js.key.pem -cert-file certs/poc-next-js.crt.pem localhost
      - name: Install dependencies
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: pnpm install
      - name: Run dev server in background
        run: pnpm dev --experimental-https --experimental-https-key certs/poc-next-js.key.pem --experimental-https-cert certs/poc-next-js.crt.pem &
      - name: Install Cypress
        run: pnpm cypress install
      - name: Run tests
        run: pnpm cypress run
